<!DOCTYPE html>
<html>

<head>
    <title>Comprehension</title>
    <style>
        .page-title {
            margin-bottom: 5px;
        }

        .file-picker {
            color: transparent;
            width: fit-content;
        }

        .file-picker::file-selector-button,
        .file-picker::-webkit-file-upload-button {
            cursor: pointer;
        }

        .image-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .image-element-container {
            min-width: 480px;
            max-width: 70%;
            width: 70%;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px;
        }

        .image-element {
            max-width: 50%;
            height: auto;
        }

        .image-metadata {
            flex: 1;
            padding-left: 10px;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('image-file-picker').addEventListener('change', function () {
                this.form.submit();
            });

            // If JS enabled, form will auto submit (as above) so can hide explicit button
            document.getElementById('submit-btn-container').style.display = 'none';
        });
    </script>
</head>

<body>
    <h1 class="page-title">Comprehension</h1>
    <div id="submit-form-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image-file-picker" class="file-picker" accept="image/*" required>
            <div id="submit-btn-container">
                <br>
                <input type="submit" id="submit-btn" value="Upload and Analyze">
            </div>
            <br>
        </form>
    </div>

    <div class="image-list-container">
        {% for i in images %}
        <div class="image-element-container">
            <img class="image-element" src="/uploads/{{ i.filename }}" alt="image {{i.filename}}">
            <div class="image-metadata">
                {{ i.timestamp }}
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>