<!DOCTYPE html>
<html>

<head>
    <title>Comprehension</title>
    <style>
        input[type="file"]::file-selector-button {
            cursor: pointer;
        }

        input[type="file"] {
            color: transparent;
        }

        input[type="file"]::-webkit-file-upload-button {
            cursor: pointer;
        }

        .image-list-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-element-container {
            min-width: 480px;
            max-width: 70%;
            width: 70%;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding: 10px;
        }

        .image-element {
            max-width: 50%;
            height: auto;
        }

        .image-metadata {
            flex: 1;
        }
    </style>
</head>

<body>
    <h1>Your Comprehension</h1>
    <div id="submit-form-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <div id="submit-btn-container">
                <br>
                <input type="submit" id="submit-btn" value="Upload and Analyze">
            </div>
        </form>
    </div>
    <script>
        // If JS enabled, form will auto submit so can hide the explicit button
        document.getElementById('submit-btn-container').style.display = 'none';
        document.getElementById('image').addEventListener('change', function () {
            this.form.submit();
        });
    </script>
    <div class="image-list-container">
        {% for i in images %}
        <div class="image-element-container">
            <img class="image-element" src="/uploads/{{ i.filename }}" alt="image {{i.filename}}">
            <div class="image-metadata">
                <p>{{ i.timestamp }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>